.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #3434a3;
  background-image: url('https:img.wallpapersafari.com/desktop/1920/1080/5/77/xwQd39.jpg');
  height: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 150%;
  color: rgb(240, 237, 243);
}
.input {
  padding: 15px;
  width: 90%;
  margin: auto;
  border: 1px solid lightblue;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px;
}
.input:focus {
  outline: none;
}